	.promptDiv{
		display:inline;
		color:red;
	  	font-size: 13px;
	}
	.txtAddr{
		height:25px;
  		width:500px;	
	}
	table.infotab {
		width:500px;
	}
	td.opt{
		width:10px;
	}	
/*
	td.opt{
		width:105px;
	}
	td.province_cl{
		width:66px;
	}
	td.city_cl{
		width:1px;
	}
	td.county_cl{
		width:45px;
	}
*/
	td.city_cl{
		width:1px;
	}
	td.county_cl{
		width:200px;
	}
	.infotr{ align:left;}
	
	.modifyAddr{
	  	position:absolute;
	  	display:none;
	  	padding:0px;
	}
